/* Fonts:  
font-family: 'Alfa Slab One', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Quicksand', sans-serif;
*/

/* COLORS:
#292b2d Dark Charcoalish
#323d47 Slightyly lighter charcoalish
#f99595 light orangish
#fff999 light yellowish
#3d77c4 steelblueish?
#97a3fc steelblueish?
#95f9f9 tealish
#959cf9 light violet, steelblueish 
#789672 Camo greenish
#8f6f93 Pastel purplish
#ffd7ff Pink
#e06666 A red

iND Theme?
#2868a0 Dark blue
#41a6ff Light Blue
##3486ce Another blue
#4cb4c7
#ebeff5
#c412c4 Purple?
#7CD1C0
*/

/* FONTS:
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/